# This is a template, copy it to a file `.env`

# Django Settings
SECRET_KEY= '' # From settings.py
DEBUG=True # Either True (1) or False (0) for debug, when deploying ensure its false.
# Seperate Hosts with spaces
ALLOWED_HOSTS=localhost 127.0.0.1 [::1] 0.0.0.0 # [::1] for Ipv6 support.

# Database Settings (Postgresql)
# Note POSTGRES_HOST must match the service name in docker-compose.yml
POSTGRES_DB=bristol_food_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_HOST=db
POSTGRES_PORT=5432