Django==6.0.1
python-dotenv==1.2.1
psycopg2==2.9.11
pillow==12.1.1 # For image handling in product and category models
djangorestframework==3.16.1 # For REST API 
argon2-cffi==25.1.0
requests==2.31.0 #for the postcode api
stripe
django-axes==8.3.1 # For suspicious login attempts
django-ratelimit # For rate limiting Django views.
redis==7.3.0 # For redis cache & rate limiting
xhtml2pdf
